.Branch {
    width: 50vw;
}

.dropdown {
    width: 70%;
    margin: 0 auto;
}

.courseDisplay {
    width: 80%;
    height: 60vh;
    border-radius: 5px;
    box-shadow: 0 2px 4px #ccc;
    border: 1px solid #eee;
    margin: 2rem auto;
    padding: 2rem;
}